td > button {
  margin-bottom: 20px;
}

.default-container {
  overflow-y: unset;
}

@media (max-width: 1900px) {
  .default-container {
    overflow-y: auto;
  }
}

.default-table > tbody > tr:hover {
  background-color: inherit;
}

.actions-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  margin-bottom: 2em;
}

.actions-container > button {
  display: flex;
  align-items: center;
}

.default-form {
  max-height: calc(100dvh - 8em);
  max-width: calc(100dvw - min(25dvw, 230px) - 5em);
  overflow-y: auto;
}
