.sub-table {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    border-collapse: collapse;
    width: 100%;
}

input[type="date"] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.search-container {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 2em;
}
