.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--color-secondary);
}

.title-container {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-left: 2em;
}

img {
  width: 4em;
  aspect-ratio: 1/1;
  margin-right: 10px;
  filter: brightness(0);
  object-fit: cover;
}

button {
  background-color: var(--color-primary);
  color: white;
  padding: .5em 1em;
  border: none;
  border-radius: 3px;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: var(--default-box-shadow);
  font-size: .85em;
  margin-right: 1em;
}
