<div class="sidebar-container">
  <h1>
    Mercadinho
  </h1>
  <ul>
    <li>
      <a routerLink="produtos">
        <img src="../../assets/icons/produto-icon.png" alt="ícone de produtos" />
        Produtos
      </a>
    </li>
    <li>
      <a routerLink="tipos-produto">
        <img src="../../assets/icons/tipo-produto-icon.png" alt="ícone de tipos de produto" />
        Tipos de Produto
      </a>
    </li>
    <li>
      <a routerLink="vendas">
        <img src="../../assets/icons/venda-icon.png" alt="ícone de vendas" />
        Vendas
      </a>
    </li>
  </ul>

  <span class="by">By Daniel Nogueira</span>
</div>
