<app-default-header title="{{operacao}} de Produtos" icon="produto-icon.png"></app-default-header>
<div class="default-container grid-center">
  <form (ngSubmit)="salvarProduto()" [formGroup]="formProduto" class="default-form">
      <mat-form-field class="w-full">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome" formControlName="nome" required />
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Tipo de produto</mat-label>
        <mat-select formControlName="tipoProdutoId" required>
          <mat-option *ngFor="let tipoProduto of tiposProduto" [value]="tipoProduto.id">
            {{ tipoProduto.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Preço</mat-label>
        <input matInput placeholder="Valor" formControlName="preco" type="number" step="0.01" required />
      </mat-form-field>
    <div class="buttons-container">
      <button class="default-button color-primary background-secondary" type="button" routerLink="/produtos">Voltar</button>
      <button class="default-button" type="submit">Salvar</button>
    </div>
  </form>
</div>
