<app-default-header title="Produtos" icon="produto-icon.png" formRoute="/produto/cadastrar"></app-default-header>
<div class="default-container">
  <app-search-input (searchEvent)="filtrarProduto($event)"></app-search-input>
  <table class="default-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Tipo do produto</th>
        <th>Valor</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of produtosFiltrados">
        <td>{{ produto.id }}</td>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.tipoProduto?.nome }}</td>
        <td>{{ produto.preco | currency: 'BRL' }}</td>
        <td class="td-actions">
          <a [routerLink]="['/produto', 'editar', produto.id]" title="Editar" role="button"><mat-icon>edit</mat-icon></a>
          <a (click)="deletarProduto(produto.id)" title="Deletar" role="button"><mat-icon>delete</mat-icon></a>
        </td>
      </tr>
      <tr *ngIf="!produtos || produtos.length <= 0">
        <td colspan="5">Nenhum produto encontrado</td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <button [disabled]="page <= 1" (click)="paginaAnterior()" title="Página anterior" class="default-button">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <button [disabled]="produtos && produtos.length < 10" (click)="paginaPosterior()" title="Página posterior" class="default-button">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
